body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  text-align: center;
}

span {
  font-weight: 400;
  font-size: 1rem;
}

button {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 400;
  font-size: 0.75rem;
  color: #333333;
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* SHORT CLASSES CSS */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* SIZE */
.w-full {
  width: 100%;
}
.w-200 {
  width: 200px;
}
.h-full {
  height: 100%;
}
.h-420 {
  height: 420px;
}
.h-200 {
  height: 200px;
}
.h-150 {
  height: 150px;
}
.h-10 {
  height: 10px;
}
.h-5 {
  height: 5px;
}

/* SPACES */
.pr-10 {
  padding-right: 10px;
}
.mb-1 {
  margin-bottom: 1rem;
}

/* GAP */
.gap-05 {
  gap: 0.5rem;
}
.gap-07 {
  gap: 0.7rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-15 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}

/* COLORS */
.bg-white {
  background-color: white;
}
.bg-dark {
  background-color: #333333;
}
.bg-gray {
  background-color: #5d5f61;
}
.bg-light {
  background-color: #f0f0f0;
}
.bg-accent {
  background-color: #fca800;
}

.text-dark {
  color: #333333;
}
.text-gray {
  color: #5d5f61;
}
.text-accent {
  color: #fca800;
}
.text-light {
  color: #f0f0f0;
}

/* TEXT */
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.text-left {
  text-align: start;
}
.bold {
  font-weight: bold;
}
.size-14 {
  font-size: 14px;
}
.size-20 {
  font-size: 20px;
}
.size-24 {
  font-size: 1.5rem;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}
/* CUSTOM */
.m-hidden {
  display: block;
  @media (max-width: 760px) {
    display: none;
  }
}
.d-hidden {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}

@media (max-width: 1024px) {
  span {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

