.language-container {
  margin-top: 1rem;
}

/* TRIANGLE */
.triangle-big {
  border-left: 0px solid transparent;
  border-right: 420px solid transparent;
  border-top: 420px solid #fca800;
}

.triangle-small {
  right: 0;
  bottom: 0;
  border-left: 150px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 150px solid #fca800;
}

/* PHOTO */
.photo-line {
  padding: 0.75rem;
  border-radius: 50% 50% 50% 0;
}
.photo-block {
  background-size: cover;
  background-position: -20px;
  border-radius: 50% 50% 50% 0;
}

/* ROW COMPONENT */
.row-block {
  height: 50px;
}

.separator {
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 8px;
}

/* DIVIDER */
.divider {
  width: 85%;
  height: 2px;
  margin-top: 1.5rem;
  margin-left: 3rem;
  border-bottom: 2px dashed #fff;
}

/* ICON */
.icon {
  border-radius: 19px;
}

.big-icon {
  height: 32px;
  width: 32px;
}

.small-icon {
  height: 24px;
  width: 24px;
}

/* PROGRESS BAR */
.progressBar {
  border-radius: 5px;
}

/* WORK EXPERIENCE */
.workExperience {
  width: 480px;
}

.positionText {
  font-size: 18px;
}

.projectsBlock {
  padding: 1rem 0 0 0.5rem;
}

.techText {
  font-size: 16px;
}

.skillsContainer {
  padding-left: 3.5rem;
  gap: 0.7rem 1rem;
}

.skillBlock {
  width: 145px;
  gap: 0.8rem;
}

.component {
  margin-top: 0.15rem;
}
