.language-container {
  width: 65px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #333333;
  top: 0.5rem;
  right: 0.5rem;
  color: #333333;
  font-size: 1rem;
  z-index: 1;
}

.language-block-0 {
  align-items: flex-start;
  margin-top: 1.5rem;
}

.language-block-1 {
  align-items: flex-start;
  margin-top: 2rem;
}

.language-block-2 {
  align-items: flex-start;
  margin-top: 2rem;
}

.language-block-3 {
  align-items: flex-start;
  margin-top: 2rem;
}

/* TRIANGLE */
.triangle-big {
  border-left: 0px solid transparent;
  border-right: 400px solid transparent;
  border-top: 400px solid #fca800;
}

.triangle-small {
  right: 0;
  bottom: 0;
  border-left: 150px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 150px solid #fca800;
}

/* RECTANGLE */
.rectangle {
  width: 100%;
  height: 125px;
  background-color: #fca800;
}
/* PHOTO */
.photo {
  height: 400px;
}
.photo-line {
  padding: 0.75rem;
  border-radius: 50% 50% 50% 0;
}
.photo-block {
  background-size: cover;
  background-position: -20px;
  border-radius: 50% 50% 50% 0;
}

/* ROW COMPONENT */
.row-block {
  height: 50px;
  gap: 2rem;
}

.separator {
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 8px;
}

/* DIVIDER */
.divider {
  width: 85%;
  height: 2px;
  margin-top: 1.5rem;
  margin-left: 3rem;
  border-bottom: 2px dashed #fff;
}

/* ICON */
.icon {
  border-radius: 19px;
}

.big-icon {
  height: 32px;
  width: 32px;
  padding: 3px;
}

.small-icon {
  height: 24px;
  width: 24px;
  padding: 3px;
}

/* PROGRESS BAR */
.progress-bar {
  border-radius: 5px;
}

.progress-bar-small {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* WORK EXPERIENCE */
.work-experience {
  width: 480px;
}

.work-block-0 {
  height: 16px;
  align-items: flex-start;
  margin-top: 0.5rem;
  padding-right: 3rem;
}

.work-block-1 {
  height: 16px;
  align-items: flex-start;
  margin-top: 10rem;
  padding-right: 3rem;
}

.work-block-2 {
  height: 16px;
  align-items: flex-start;
  margin-top: 10rem;
  padding-right: 3rem;
}

.position-text {
  font-size: 18px;
}

.projects-block {
  padding: 0.5rem 0 0 0.5rem;
}

.tech-text {
  font-size: 16px;
}

.date-text {
  font-size: 14px;
}

.skills-Container {
  padding-right: 3rem;
  margin-top: 8rem;
}

.skills-components {
  padding-top: 1rem;
  padding-left: 3.5rem;
  gap: 0.7rem 1rem;
}

.skill-block {
  width: 145px;
  gap: 0.8rem;
}

.component {
  margin-top: 0.15rem;
}

.certificate-row {
  margin-top: 9rem;
}

@media (max-width: 1024px) {
  .language-block-0 {
    align-items: flex-start;
    margin-top: 0.5rem;
  }

  .triangle-big {
    border-left: 0px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid #fca800;
  }

  .big-icon {
    height: 24px;
    width: 24px;
    padding: 3px;
  }

  .small-icon {
    height: 18px;
    width: 18px;
    padding: 3px;
  }

  .photo {
    height: 300px;
  }

  .row-block {
    height: 50px;
    gap: 1rem;
  }

  .work-block-0 {
    height: 16px;
    align-items: flex-start;
    margin-top: 0.5rem;
    padding-right: 3rem;
  }

  .work-block-1 {
    height: 16px;
    align-items: flex-start;
    margin-top: 8.3rem;
    padding-right: 3rem;
  }

  .work-block-2 {
    height: 16px;
    align-items: flex-start;
    margin-top: 9.8rem;
    padding-right: 3rem;
  }

  .progress-bar-small {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .position-text {
    font-size: 14px;
  }

  .projects-block {
    padding: 0.3rem 0 0 0.5rem;
  }

  .tech-text {
    font-size: 14px;
  }

  .date-text {
    font-size: 12px;
  }

  .skills-Container {
    padding-right: 3rem;
    margin-top: 7rem;
  }

  .skills-components {
    padding-left: 2rem;
    gap: 0.7rem 1rem;
  }

  .certificate-row {
    margin-top: 6rem;
  }
}

@media (max-width: 760px) {
  .photo {
    height: 175px;
    margin-top: 2rem;
  }
  .photo-line {
    width: 150px;
    height: 150px;
    padding: 0.75rem;
    border-radius: 50%;
  }
  .photo-block {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .projects-block {
    width: 85vw;
  }
  .position-text {
    font-size: 12px;
  }
  .date-text {
    font-size: 11px;
  }
  .work-experience {
    width: 100%;
  }
  .skills-Container {
    padding-right: 0rem;
    margin-top: 0rem;
  }
  .skills-components {
    padding-top: 0rem;
    padding-left: 0.5rem;
    gap: 0.7rem 1rem;
  }
  .skill-block {
    width: 25vw;
    gap: 0.8rem;
  }
  .progress-bar-small {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .separator {
    padding-bottom: 0.2rem;
    opacity: 0.5;
  }
}
