.layout {
  padding-bottom: 1rem;
}

.resume-container {
  width: 1050px;
  height: 1485px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-left-block {
  width: 420px;
}

.character-block {
  width: 1rem;
  margin-left: 4.5rem;
}

.character-line {
  width: 3px;
}

.resume-right-container {
  width: 630px;
}

.content {
  padding-left: 4.08rem;
}

.gray-line {
  height: 180px;
  top: 7.5rem;
}

.header {
  padding: 1rem 0 1rem 0;
  margin-top: 7.5rem;
}

.left-content-block {
  margin-top: -2.5rem;
  margin-left: 4.1rem;
  margin-right: 3rem;
}

.right-content-block {
  padding: 0.5rem 3rem 0 3rem;
}

.text-header {
  font-size: 3.75rem;
}
